.btn {
	display: inline-block;
	padding: 7px 16px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	background-color: transparent;
	color: #363636;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;

	&:hover {
		border-color: #b5b5b5;
	}

	&:active {
		border-color: #4a4a4a;
	}

	&:focus:not(:active) {
		border-color: #3273dc;
		box-shadow: 0 0 0 2px rgba(50, 115, 220, .25);
	}

	&--primary {
		border-color: transparent;
		background-color: #3273dc;
		color: #fff;

		&:hover {
			border-color: transparent;
			background-color: #276cda;
		}

		&:active {
			border-color: transparent;
			background-color: #2366d1;
		}

		&:focus:not(:active) {
			border-color: transparent;
			box-shadow: 0 0 0 2px rgba(50, 115, 220, .25);
		}
	}

	&--success {
		border-color: transparent;
		background-color: #48c774;
		color: #fff;

		&:hover {
			border-color: transparent;
			background-color: #3ec46d;
		}

		&:active {
			border-color: transparent;
			background-color: #3abb67;
		}

		&:focus:not(:active) {
			border-color: transparent;
			box-shadow: 0 0 0 2px rgba(72, 199, 116, .25);
		}
	}
}
